Pokemon Scraper.json
{
  "name": "Pokemon Scraper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        0
      ],
      "id": "9832833a-7f19-494c-a099-ef0d09ad8f2d",
      "name": "Execute workflow"
    },
    {
      "parameters": {
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $json.ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "fe0ba4d6-b9bd-49b2-8209-8c0bb2c25199",
      "name": "GET Pokemon Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "091841c6-a0db-4ba8-87a3-6b9c452c43fd",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "6a09694c-f0f5-4706-b612-a3c047862a5a",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "ab8e42b8-5fe1-453c-91bd-2e7ab5f2ea9c",
              "name": "type",
              "value": "={{ $json.types[0].type.name }}",
              "type": "string"
            },
            {
              "id": "a0372b78-2c5c-4351-9d3c-f43ce4bbd62d",
              "name": "photos.front",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            },
            {
              "id": "07eb4182-f782-4d80-9fbf-3f4e95ed3e85",
              "name": "photos.back",
              "value": "={{ $json.sprites.back_default }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "62d51326-d39d-4d53-a22c-1fe0b90d1b60",
      "name": "Extraer datos de Pokemons"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kT9QZjYrXiNzZ6Wcyx85I6j71DFUNhtERF6-sfR9r1g",
          "mode": "list",
          "cachedResultName": "Pokemons n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kT9QZjYrXiNzZ6Wcyx85I6j71DFUNhtERF6-sfR9r1g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kT9QZjYrXiNzZ6Wcyx85I6j71DFUNhtERF6-sfR9r1g/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        0
      ],
      "id": "1657db92-6d18-4220-a7be-a66545cbae15",
      "name": "Obtener IDs de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FoUN4lufK7HcfeDz",
          "name": "Google Sheet: lea.arturi@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kT9QZjYrXiNzZ6Wcyx85I6j71DFUNhtERF6-sfR9r1g",
          "mode": "list",
          "cachedResultName": "Pokemons n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kT9QZjYrXiNzZ6Wcyx85I6j71DFUNhtERF6-sfR9r1g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Pokemons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kT9QZjYrXiNzZ6Wcyx85I6j71DFUNhtERF6-sfR9r1g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Nombre": "={{ $json.name }}",
            "Tipo": "={{ $json.type }}",
            "Sprite Frontal": "={{ $json.photos.front }}",
            "Sprite Posterior": "={{ $json.photos.back }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo",
              "displayName": "Tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Frontal",
              "displayName": "Sprite Frontal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sprite Posterior",
              "displayName": "Sprite Posterior",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        0
      ],
      "id": "81f004aa-45cf-4a76-b0a1-b3fde0af2d3d",
      "name": "Actualizar info de Pokemons",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FoUN4lufK7HcfeDz",
          "name": "Google Sheet: lea.arturi@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Sheet\nObtener IDs de los pokemons para completar los datos con la API",
        "height": 336,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -128
      ],
      "typeVersion": 1,
      "id": "62c23949-9c38-4586-928d-533ca3b75654",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7945f71d-ec05-4c39-8463-2025826b3150",
              "leftValue": "={{ $json.Nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f22e846a-57be-44e5-8d42-583ec79ce7ce",
              "leftValue": "={{ $json.Tipo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "a3638043-5def-4a06-a2b4-d7374e6da99b",
      "name": "Filtrar filas vacias"
    },
    {
      "parameters": {
        "content": "## Pokemon API\nHace un fetch a la API por cada fila para buscar la informacion",
        "height": 336,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -128
      ],
      "typeVersion": 1,
      "id": "b0337ff6-e7fd-492b-b3dc-2bf8bc04c136",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Google Sheet\nActualiza la planilla",
        "height": 336,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -128
      ],
      "typeVersion": 1,
      "id": "fbff522e-1d5c-41f7-b7d4-db83526698e0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "lea.arturi@gmail.com",
        "subject": "Tabla de Pokemons: Proceso finalizado con exito!",
        "message": "=<h2 style=\"font-family: Arial, sans-serif; color: #2c3e50; margin-bottom: 10px;\">\n  Proceso terminado\n</h2>\n\n<h3 style=\"font-family: Arial, sans-serif; color: #34495e; margin-top: 0;\">\n  Resultados ({{ (Array.isArray($json) ? $json[0] : $json).ID.length }})\n</h3>\n\n<table border=\"0\" cellpadding=\"8\" cellspacing=\"0\" style=\"border-collapse: collapse; font-family: Arial, sans-serif; font-size: 14px; width: 100%; max-width: 500px;\">\n  <thead>\n    <tr style=\"background-color: #3498db; color: #fff; text-align: left;\">\n      <th style=\"border: 1px solid #ddd;\">ID</th>\n      <th style=\"border: 1px solid #ddd;\">Nombre</th>\n    </tr>\n  </thead>\n  <tbody>\n    {{ (() => {\n         const data = Array.isArray($json) ? $json[0] : $json;\n         const ids = data.ID || [];\n         const nombres = data.Nombre || [];\n         return ids.map((id, i) => `\n           <tr style=\"background-color: ${i % 2 === 0 ? '#f9f9f9' : '#ffffff'};\">\n             <td style=\"border: 1px solid #ddd;\">${id}</td>\n             <td style=\"border: 1px solid #ddd;\">${nombres[i] ?? ''}</td>\n           </tr>\n         `).join('');\n       })() }}\n  </tbody>\n</table>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        0
      ],
      "id": "9b383193-2a0e-4670-a948-51270c15397e",
      "name": "Send a message",
      "webhookId": "6472f392-14fe-442c-8670-e4b807782ac4",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fb4OJ3dvsToYv4SQ",
          "name": "Gmail: lea.arturi@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Nombre"
            },
            {
              "fieldToAggregate": "ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "70074338-6191-47ab-a512-278af6a36535",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Obtener IDs de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Pokemon Info": {
      "main": [
        [
          {
            "node": "Extraer datos de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener IDs de Pokemons": {
      "main": [
        [
          {
            "node": "Filtrar filas vacias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer datos de Pokemons": {
      "main": [
        [
          {
            "node": "Actualizar info de Pokemons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar filas vacias": {
      "main": [
        [
          {
            "node": "GET Pokemon Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar info de Pokemons": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6a2f96a-c3c0-4042-9f2a-502d20e867d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec034f4ec00924227e26a740287d46cdb2435d7c6eed6e6242f82f145235dfc5"
  },
  "id": "j0KmCCOHB4aUgJDI",
  "tags": []
}