Formulario Tiempo - WebHooks/Flujo solicitud de tiempo libre RRHH Webhook.json
{
  "name": "Flujo solicitud de tiempo libre RRHH Webhook",
  "nodes": [
    {
      "parameters": {
        "content": "## Validaciones\n",
        "height": 512,
        "width": 864,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -560
      ],
      "typeVersion": 1,
      "id": "48d6aeb1-3d3f-479d-9777-e3fa03b9a1c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2a149257-8cfa-4948-ad51-a3b200ee376a",
              "leftValue": "={{ $json.startDate.toDateTime() }}",
              "rightValue": "={{  $now.plus(7, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        368,
        -288
      ],
      "id": "b576dfa8-59c9-484d-b636-2d94dc24c701",
      "name": "Es mayor a hoy mas 7 dias?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Se debe solicitar con 7 dias de antelacion\",\n  \"subject\": \"Solicitud de tiempo libre rechazada\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        80
      ],
      "id": "1d0cc923-3314-49a9-9778-479c5dcc3308",
      "name": "Error fecha de inicio menor a 7 dias"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "501a8490-0e6d-4577-b132-858abab15218",
              "leftValue": "={{ $('Parsea el formulario').item.json.daysRequested }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -384
      ],
      "id": "3c8e9e89-bad0-44eb-a3c4-49356d7adc81",
      "name": "Dias solicitados mayor a cero"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Se debe solicitar al menos 1 dia de tiempo libre\",\n  \"subject\": \"Solicitud de tiempo libre rechazada\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -112
      ],
      "id": "f495ecc8-a9c7-4c46-bc06-404c350feec1",
      "name": "Error dias solicitados menor a 1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        -480
      ],
      "id": "8a8213f9-e2ea-4c03-a1fd-97d6a11d5bee",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tSXv0sC84QYeYmqy",
          "name": "Postgres Docker n8n Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03adba0b-2ea9-47db-9cc8-6810efa36a3f",
              "leftValue": "={{ $('Dias solicitados mayor a cero').item.json.daysRequested }}",
              "rightValue": "={{ $json.vacation_days }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        -480
      ],
      "id": "024cbff4-3446-45f4-b249-acb4b241ca29",
      "name": "Tiene suficientes vacaciones"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"Ha pedido mas dias de los disponibles. Dispone de {{$json.vacation_days.floor()}} dias y solicitó {{ $('Dias solicitados mayor a cero').item.json.daysRequested.floor() }} dias.\",\n  \"subject\": \"Solicitud de tiempo libre rechazada\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -304
      ],
      "id": "a88fd295-8372-405a-9efd-2267d3d02448",
      "name": "Error no tiene dias de vacaciones disponibles"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Nueva solicitud de tiempo libre\n- **Empleado**: {{ $('Parsea el formulario').item.json.fullName }}\n- **Email**: {{ $('Parsea el formulario').item.json.email }}\n- **Dias Solicitados**: {{ $('Parsea el formulario').item.json.daysRequested.floor() }}\n- **Inicio**: {{ $('Parsea el formulario').item.json.startDate }}\n- **Fin**: {{ $('Parsea el formulario').item.json.endDate }}\n- **Comentarios**: {{ $('Parsea el formulario').item.json.comments }}\n### Aprobar o Rechazar: \nPara continuar, [click aqui]({{ $execution.resumeUrl }})\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1344,
        -576
      ],
      "id": "1d69bb15-7759-40a4-85a4-4e1a65247415",
      "name": "Enviar mensaje a RRHH",
      "webhookId": "141641ef-0f82-454d-b7e5-8ed21aea5f5f",
      "credentials": {
        "discordWebhookApi": {
          "id": "74mbcLXPy1OWkmCK",
          "name": "Discord: WebHook n8n RRHH"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fullName\": \"{{ $json.data.fullName }}\",\n  \"email\": \"{{ $json.data.email }}\",\n  \"startDate\": \"{{ $json.data.startDate }}\",\n  \"endDate\": \"{{ $json.data.endDate }}\",\n  \"comments\": \"{{ $json.data.comments }}\",\n  \"daysRequested\": {{ \n      (\n        $json.data.endDate.toDateTime()\n        -\n        $json.data.startDate.toDateTime()\n      )\n      / (1000 * 60 * 60 * 24)\n   }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -448
      ],
      "id": "35a34f95-524d-4915-b54e-ee8f7e184dae",
      "name": "Parsea el formulario"
    },
    {
      "parameters": {
        "content": "## RR.HH",
        "height": 240,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        -624
      ],
      "typeVersion": 1,
      "id": "f70ce76d-9151-4b96-92cf-b3d80ca7b562",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resume": "webhook",
        "incomingAuthentication": "headerAuth",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "days",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        -576
      ],
      "id": "82c87222-3fed-409c-994b-f8fe8288fccd",
      "name": "Esperar a RRHH 48 horas",
      "webhookId": "7ded4cb0-1273-4de1-bb6f-79ee651f5a40",
      "credentials": {
        "httpHeaderAuth": {
          "id": "upXDfUrD9Gba5fm1",
          "name": "Header Auth Secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03adba0b-2ea9-47db-9cc8-6810efa36a3f",
              "leftValue": "={{ $json.body.approve }}",
              "rightValue": "Aprobar",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        -576
      ],
      "id": "07eebc31-a6bc-4576-b6fb-1a79a4addf6d",
      "name": "RRHH aprueba solicitud"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": false,\n  \"message\": \"{{ $json.body.message }}\",\n  \"subject\": \"Solicitud de tiempo libre rechazada\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        -496
      ],
      "id": "55d4baf0-b8bc-4d6a-8179-32826f14f013",
      "name": "RRHH rechazo la solicitud"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c2e57f52f7f3b65f22bc7cb9c067583f8ea9ecbef856612672114c1f87be44f4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "start": "={{ $('Parsea el formulario').item.json.startDate }}",
        "end": "={{ $('Parsea el formulario').item.json.endDate }}",
        "additionalFields": {
          "summary": "=Tiempo libre de {{ $('Parsea el formulario').item.json.fullName }}\n\nTiempo solicitado: {{ $('Parsea el formulario').item.json.daysRequested }} dias\n\nComentarios: {{ $('Parsea el formulario').item.json.comments }}\n"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2128,
        -800
      ],
      "id": "5004e837-7498-414f-bab9-5a95c7b96276",
      "name": "Crear evento en calendar RRHH",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GD73UJGjicosDd7E",
          "name": "Google Calendar: lea.arturi@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Solicitud aprobada",
        "height": 304,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        -896
      ],
      "typeVersion": 1,
      "id": "431716da-47cc-401b-88c6-125c3ab899fc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "days_off",
          "mode": "list",
          "cachedResultName": "days_off"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Select rows from a table').item.json.id }}",
            "vacation_days": "={{  $('Select rows from a table').item.json.vacation_days \n-\n$('Parsea el formulario').item.json.daysRequested\n}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vacation_days",
              "displayName": "vacation_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sick_days",
              "displayName": "sick_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2400,
        -800
      ],
      "id": "06f0844b-8370-422b-b483-97f01becd3c3",
      "name": "Restar dias de vacaciones al empleado",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "tSXv0sC84QYeYmqy",
          "name": "Postgres Docker n8n Local"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notificaciones",
        "height": 368,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        -400
      ],
      "typeVersion": 1,
      "id": "74069013-f394-4008-9aa2-1e7070853e92",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ok\": true,\n  \"message\": \"Tu solicitud ha sido aprobada. Te quedan {{ $json.vacation_days }} dias disponibles.\",\n  \"subject\": \"Solicitud de tiempo libre aprobada\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        -800
      ],
      "id": "2a736001-6b5a-4267-aad8-df6b58818eb5",
      "name": "RRHH aprueba la solicitud"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Parsea el formulario').item.json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "=<!doctype html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width\">\n    <title>Notificación de Formulario</title>\n    <style>\n      @media only screen and (max-width: 620px) {\n        .container { width: 100% !important; padding: 16px !important; }\n        h1 { font-size: 20px !important; }\n      }\n      /* Fallback oscuro suave en clientes que lo soportan */\n      @media (prefers-color-scheme: dark) {\n        body { background:#0b0b0b !important; color:#e5e7eb !important; }\n        .card { background:#111827 !important; }\n        .th { background:#1f2937 !important; color:#e5e7eb !important; }\n        .td { border-bottom:1px solid #1f2937 !important; color:#e5e7eb !important; }\n      }\n    </style>\n  </head>\n  <body style=\"margin:0;padding:0;background:#f6f9fc;font-family:Arial,Helvetica,sans-serif;color:#111;\">\n    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background:#f6f9fc;\">\n      <tr>\n        <td align=\"center\" style=\"padding:24px;\">\n          <table role=\"presentation\" width=\"600\" class=\"container card\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:600px;max-width:600px;background:#ffffff;border-radius:10px;box-shadow:0 1px 3px rgba(0,0,0,0.06);overflow:hidden;\">\n            <tr>\n              <td style=\"padding:24px 24px 8px 24px;\">\n                <h3 style=\"margin:0 0 8px 0;font-size:22px;line-height:1.3;color:#111;\">\n                  {{ $json.subject }}\n                </h3>\n                <p style=\"margin:0 0 8px 0;font-size:15px;line-height:1.6;color:#333;\">\n                  {{ $json.message }}\n                </p>\n\n <p style=\"margin:0 0 8px 0;font-size:15px;line-height:1.6;color:#333;\">\n                  Atentamente,\n\n                </p>\n\n<p>\nEquipo de RR.HH\n</p>\n              </td>\n            </tr>\n            <tr>\n              <td style=\"padding:8px 24px 24px 24px;\">\n                <!-- contenido extra opcional -->\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2864,
        -272
      ],
      "id": "afe7841a-05b1-4b36-84b1-c6f91f5642f4",
      "name": "Enviar mensaje al empleado",
      "webhookId": "c13ebee7-581a-42d1-9064-42fbef900d0f",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fb4OJ3dvsToYv4SQ",
          "name": "Gmail: lea.arturi@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vacation/ask/form/001",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -816,
        -368
      ],
      "id": "5742d417-0e0d-40c1-a727-9a98a1594225",
      "name": "Webhook - POST Solicitar Vacaciones",
      "webhookId": "1515efb5-4f5c-4892-8260-e0d933e6c7af",
      "credentials": {
        "httpHeaderAuth": {
          "id": "upXDfUrD9Gba5fm1",
          "name": "Header Auth Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Espera un body como:\n// {\n//   \"fullName\": \"Fernando Herrera\",\n//   \"email\": \"fernando.devtalles@gmail.com\",\n//   \"startDate\": \"2025-08-19\",\n//   \"endDate\": \"2025-08-23\",\n//   \"comments\": \"Nada en especial\"\n// }\n\nconst src = $input.first().json.body;\nconst errors = [];\n\n// Helpers\nconst getStr = (v) => (v ?? '').toString().trim();\nconst isEmail = (v) => /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(v);\nconst ISO_DATE_RE = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst parseISODate = (s) => new Date(`${s}T00:00:00Z`); // avoid server TZ issues\n\n// Extract and normalize\nconst fullName     = getStr(src['fullName']);\nconst email        = getStr(src['email']).toLowerCase();\nconst startDateStr = getStr(src['startDate']);\nconst endDateStr   = getStr(src['endDate']);\nconst comments     = getStr(src['comments']);\n\n// Validations\nif (!fullName) errors.push('fullName es requerido.');\nif (!email) errors.push('email es requerido.');\nelse if (!isEmail(email)) errors.push('Correo electrónico inválido.');\n\nif (!startDateStr) errors.push('startDate es requerida.');\nelse if (!ISO_DATE_RE.test(startDateStr))\n  errors.push('startDate debe tener formato YYYY-MM-DD.');\n\nif (!endDateStr) errors.push('endDate es requerida.');\nelse if (!ISO_DATE_RE.test(endDateStr))\n  errors.push('endDate debe tener formato YYYY-MM-DD.');\n\n// Date comparison (only if format is valid)\nif (ISO_DATE_RE.test(startDateStr) && ISO_DATE_RE.test(endDateStr)) {\n  const startDate = parseISODate(startDateStr);\n  const endDate   = parseISODate(endDateStr);\n\n  if (Number.isNaN(startDate.valueOf())) errors.push('startDate no es válida.');\n  if (Number.isNaN(endDate.valueOf())) errors.push('endDate no es válida.');\n\n  // Must be strictly before\n  if (!Number.isNaN(startDate.valueOf()) && !Number.isNaN(endDate.valueOf()) && !(startDate < endDate)) {\n    errors.push('startDate debe ser ANTES que la fecha de retorno.');\n  }\n}\n\n// Optional comments\nif (comments && comments.length > 500) {\n  errors.push('comments no debe superar 500 caracteres.');\n}\n\n// Response for chaining with Webhook Response\nif (errors.length) {\n  return [\n    {\n      valid: false,\n      status: 400,\n      errors,\n    },\n  ];\n}\n\nreturn [\n  {\n    valid: true,\n    status: 200,\n    data: {\n      fullName,\n      email,\n      startDate: startDateStr,\n      endDate: endDateStr,\n      comments,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -368
      ],
      "id": "c11f1960-c645-4b1c-96be-ac99dde2ef3b",
      "name": "Validar JSON"
    },
    {
      "parameters": {
        "content": "## Validaciones\n",
        "height": 512,
        "width": 736,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -560
      ],
      "typeVersion": 1,
      "id": "f792c37d-e418-4e0b-b744-e134c4281799",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac9796a1-0b36-4eee-9b60-afcac62b2194",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        -368
      ],
      "id": "0d71118a-ebd5-4973-932a-8e5c0fb714bf",
      "name": "Contiene los datos necesarios?"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        -256
      ],
      "id": "f300c6c7-007e-4e62-8007-15438fc8de70",
      "name": "Respond to Webhook - BAD REQUEST 400"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -96,
        -448
      ],
      "id": "ec5053ec-1d18-4c7b-a207-4e5ae3c5c1d2",
      "name": "Respond to Webhook OK 200"
    },
    {
      "parameters": {
        "content": "### Endpoint POST para solicitud de vacaciones\n\n```\ncurl --location 'http://localhost:5678/webhook-test/vacation/ask/form/001' \\\n--header 'x-authorization: 5af0c153f9da97d6d9dc944a8e8f4ece' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"fullName\": \"Leandro Arturi\",\n    \"email\": \"lea.arturi@gmail.com\",\n    \"startDate\": \"2025-10-20\",\n    \"endDate\": \"2025-10-30\",\n    \"comments\": \"Sin comentarios\"\n}'\n```",
        "height": 288,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -592
      ],
      "typeVersion": 1,
      "id": "c0147cd5-0cbc-422c-9454-0688f2a0ec32",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Endpoint POST para aprobar o rechazar solicitud de vacaciones\n\n```\ncurl --location 'http://localhost:5678/webhook-waiting/680' \\\n--header 'x-authorization: 5af0c153f9da97d6d9dc944a8e8f4ece' \\\n--header 'Content-Type: application/json' \\\n--data '{\n    \"approve\": true,\n    \"message\": \"Ok\"\n}'\n```",
        "height": 240,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -240
      ],
      "typeVersion": 1,
      "id": "cc9952c5-2764-473b-9d61-273db914d9b0",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {
    "Parsea el formulario": [
      {
        "json": {
          "fullName": "Leandro Arturi",
          "email": "lea.arturi@gmail.com",
          "startDate": "2025-10-20",
          "endDate": "2025-10-30",
          "comments": "Sin comentarios",
          "daysRequested": 10
        }
      }
    ]
  },
  "connections": {
    "Es mayor a hoy mas 7 dias?": {
      "main": [
        [
          {
            "node": "Dias solicitados mayor a cero",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error fecha de inicio menor a 7 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error fecha de inicio menor a 7 dias": {
      "main": [
        [
          {
            "node": "Enviar mensaje al empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dias solicitados mayor a cero": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error dias solicitados menor a 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error dias solicitados menor a 1": {
      "main": [
        [
          {
            "node": "Enviar mensaje al empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Tiene suficientes vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene suficientes vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error no tiene dias de vacaciones disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error no tiene dias de vacaciones disponibles": {
      "main": [
        [
          {
            "node": "Enviar mensaje al empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsea el formulario": {
      "main": [
        [
          {
            "node": "Es mayor a hoy mas 7 dias?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje a RRHH": {
      "main": [
        [
          {
            "node": "Esperar a RRHH 48 horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a RRHH 48 horas": {
      "main": [
        [
          {
            "node": "RRHH aprueba solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RRHH aprueba solicitud": {
      "main": [
        [
          {
            "node": "Crear evento en calendar RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RRHH rechazo la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RRHH rechazo la solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje al empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento en calendar RRHH": {
      "main": [
        [
          {
            "node": "Restar dias de vacaciones al empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restar dias de vacaciones al empleado": {
      "main": [
        [
          {
            "node": "RRHH aprueba la solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RRHH aprueba la solicitud": {
      "main": [
        [
          {
            "node": "Enviar mensaje al empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - POST Solicitar Vacaciones": {
      "main": [
        [
          {
            "node": "Validar JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar JSON": {
      "main": [
        [
          {
            "node": "Contiene los datos necesarios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contiene los datos necesarios?": {
      "main": [
        [
          {
            "node": "Respond to Webhook OK 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - BAD REQUEST 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook - BAD REQUEST 400": {
      "main": [
        []
      ]
    },
    "Respond to Webhook OK 200": {
      "main": [
        [
          {
            "node": "Parsea el formulario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02b38cd3-2b27-42ad-84c6-79e27b15f4d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec034f4ec00924227e26a740287d46cdb2435d7c6eed6e6242f82f145235dfc5"
  },
  "id": "drhf8bUuaOJKjNX3",
  "tags": []
}